extends layout

block content
  #container.container
    h1
      | hello world
    p 
      | Click the tags to order (create new order first)"
    ul
      each cat in menu
        each val in cat.list
          li
            button(class="btn btn-xs",onclick="additem("+"'"+val.name+"',"+val.price+")") #{val.name} #{val.price}
          
    br
    #myorder
      p 
        enter your name and then press 'new order'
      input(type="text",placeholder="your name",id="usernameInput")
      button(class="btn" onclick="newOrder()") new order
    br
    #orders.jumbotron
  
  script.
    var updateorders = function(orderList){
      var str;
      for(var i=0; i<orderList.length; i++){
        str += "<div class='well'><p>" + orderList[i].user+"</p>";
        for(var j=0;j<orderList[i].order.length;j++){
          str+= "<span class='label label-info'>"+orderList[i].order[j].name+" "+orderList[i].order[j].price+"</span>";
        }
        str+="</div>";
      }
      
      $('#orders').html(str);
    }
    var myorder=new Array();
    var username=null;
    var newOrder=function(){
      myorder=new Array();
      if($('#usernameInput').val()==''){
        alert("please your name");
        return;
      }
      username=$('#usernameInput').val()
      var str="<h3>"+username+"</h3><div id='orderDetail'></div>"+'<button onclick="submitOrder()">Submit</button>';
      $('#myorder').html(str);
    }
    
    var additem=function(name,price){
      myorder.push({name:name,price:price});
      var str = "<ul>";
      for(var i=0; i<myorder.length; i++){
        str += '<li><label onclick="removeitem({name:"'+myorder[i].name+'",price:'+myorder[i].price+'})">' + myorder[i].name +" "+myorder[i].price +"</label></li>";
      }

      str += "</ul>";
      $('#orderDetail').html(str);
    
    }
    var submitOrder = function(){
      var json = {user:username,order:myorder};

      if(username && myorder){
        $.ajax({
            type: 'POST',
            url: 'submit',
            data: json,
            dataType: "json",
            timeout: 2000,
            success: function(result){
                //updateorders(result);
                //console.log("yeah");
            }
        });
      }
    }
    var socket =io.connect('http://10.42.10.95:3000');
    socket.on('update',function(order){
      updateorders(order);
    });

   
    $.get('/orders',function(result){
      updateorders(result);
    })